[Unit]
Description=Harvest all OAI endpoints continuously

[Service]
ExecStart=/bin/bash -c 'metha-sync -list | shuf | parallel -j 128 -I {} "metha-sync -base-dir /home/tir/.cache/metha {}"'
User=tir
Group=tir
RuntimeMaxSec=300s
Restart=always

[Install]
WantedBy=multi-user.target
