metha.cache
metha-*zst
urls-parse-trim.txt
urls-parse-trim-unescape-replace.txt
urls-parse-trim-unescape.txt
urls-parse.txt
urlscrub
2023-06-15-metha-url-cleaned.txt
2023-06-15-metha-url-reduced-no-id.txt
2023-06-15-metha-url-reduced-pdf-only.txt
2023-06-15-metha-url-reduced.txt
2023-06-15-metha-url-reduced-no-id.txt.zst
2023-06-15-metha-url-reduced-pdf-only.txt.zst
raw.data.zst
oaistruct
genjson
xmlstream
oai.202306.requests.json.zst
oai-doi.txt.zst
oai.202306.request_reduced.json.zst
